body{
background-color:rosybrown; 
font-family:Arial,sans-serif;
    
}


p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-image{
   max-width: 100%;
}

.business-card{
    background-color: white;
    width:300px;
    padding:20px;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}

a{
    text-decoration: none;
}